body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  transition: ease-in-out 0.2s;
}

.app-container{
  width: 100%;
  height: 100vh;
}
.m-10{
  margin-bottom: 20px;
}

.login-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  background-color: lightyellow;
}

.textField{
  width: 500px;
}


.login-heading{
  margin-bottom: 100px;
}
.otp-button{
  width: 250px;
}


@media (max-width : 770px) {
  .textField{
    width: 250px;
  }

  .login-heading{
    margin-bottom: 80px;
  }
  .otp-button{
    width: 150px;
  }
}