body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1.5em;
  font-family: "Courier New", Courier, monospace;
  transition: ease-in-out 0.2s;
}

.app-container {
  width: 100%;
  height: 100vh;
}
.m-10 {
  margin-bottom: 20px;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  background-color: lightyellow;
}

.textField {
  width: 500px;
}

.login-heading {
  margin-bottom: 100px;
}
.otp-button {
  width: 250px;
}
.game-board{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: text;
}
.row{
  display: flex;
  flex-direction: row;
}
/*KEYBOARD STYLING*/
#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 770px) {
  .textField {
    width: 250px;
  }

  .login-heading {
    margin-bottom: 80px;
  }
  .otp-button {
    width: 150px;
  }
}

