
.main{
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #121212;
  color: white;
  font-family: Hack, sans-serif;
}
.app-container {
  width: 100%;
  height: 100vh;
}
.m-10 {
  margin-bottom: 20px;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
}
.text-deco{
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
  /* text-transform: uppercase; */
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}


.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.login-form  h1 {
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  font-family: Hack, sans-serif;
  font-size: 2rem;
  /* text-transform: uppercase; */
  animation: glow 2s ease-in-out infinite alternate;
  text-align: center;
  text-decoration: underline;
}
@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}

.textField {
  width: 500px;
}

.login-heading {
  margin-bottom: 20px;
}
.otp-button {
  width: 250px;
}
.Navbar{
  display: flex;
  border-bottom: .5px solid rgba(97, 97, 97, 0.3);
  margin: 0;
  padding: 0;
  padding-right: 30px; 
}

.query{
  border-radius: 50%;
  border: 2px white solid;
  width: 40px;
  height: 40px;
  font-size: 30px;
  /* display: flex;
  align-items: center;
  justify-content: center;*/
  margin-bottom: 0;
  cursor: pointer; 
}
.query:hover{
  background-color: #2d9da9;
}
#bg-change{
  background-color: #2d9da9;
}

.svg-part{
  margin: 0;
  padding-top: 20px;
  padding-left: 80px;
  place-items: center;
  width: 100%;
  display: grid;
  height: 70px;
}
.heading-wordle {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 5px;
  stroke: #47e2cd;
  font-size: 40px;
  font-weight: 800;
  stroke-width: 1;
  animation: textAnimate 3s infinite alternate;
  
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsl(189, 94%, 27%)

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: rgba(214, 106, 218,0)
  }}
.game{
  flex: .95;
  width: 100vw;
  height: calc(100%-60px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}
.board{
  flex: .85;
  width: 300px;
  height: 396px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.row{
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.letter{
  flex: 1;
  height: 100%;
  border: 2px solid rgba(85, 85, 85,0.6);
  margin: 3px;
  display: grid;
  place-items: center;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.keyboard{
  flex: .5;
  width: 100%;
  height: 100%;
}

.line1, .line2, .line3{
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key{
  font-weight: 750;
  width: 40px;
  height: 50px;
  margin: 3px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 15px;
  background-color: grey;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
}

#big{
  width: 65px;
}

#correct{
  background-color: #528d4e;
}
#almost{
  background-color: #b49f39;
}
#error{
  background-color:#3a393c;
}
#disabled{
  background-color: #3a393c;
}

.yellow{
  color: rgb(233, 233, 29);
}
.rule-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.title-para{
  text-align: left;
  padding-left: 5%; 
}
.back-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
}
.back{
  cursor: pointer;
}

.list-item{
  list-style: square;
  font-size: 15px;
  padding-bottom: 20px;
}


.green-eg{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.green-eg p{
  text-align: left;
  margin-top: 5px;
}
.example{
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.example h4{
  text-align: left;
}
.green{
  color: #528d4e;
}
.grey{
  color: #3a393c;
}
.box{
  width: 40px;
  height: 40px;
  border: 2px solid grey;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-box{
  display: flex;

}

@media (max-width: 770px) {
  .textField {
    width: 250px;
  }

  .login-heading {
    margin-bottom: 80px;
  }
  .otp-button {
    width: 150px;
  }
}

