
.main{
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0px;
  padding: 0px;
}
.app-container {
  width: 100%;
  height: 100vh;
}
.m-10 {
  margin-bottom: 20px;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  background-color: lightyellow;
}

.textField {
  width: 500px;
}

.login-heading {
  margin-bottom: 100px;
}
.otp-button {
  width: 250px;
}
.heading{
  flex: .05;
  width: 100%;
  min-height: 50px;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  place-items: center;
  color: white;
  font-size: 35px;
  border-bottom: .5px solid rgba(97, 97, 97, 0.6);
}
.game{
  flex: .95;
  width: 100vw;
  height: calc(100%-60px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}
.board{
  flex: .85;
  width: 332px;
  height: 396px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.row{
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.letter{
  flex: 1;
  height: 100%;
  border: 2px solid rgba(85, 85, 85,0.6);
  margin: 3px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.keyboard{
  flex: .5;
  width: 100%;
  height: 100%;
}

.line1, .line2, .line3{
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key{
  font-weight: 750;
  width: 40px;
  height: 50px;
  margin: 3px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 15px;
  background-color: grey;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
}

#big{
  width: 65px;
}

#correct{
  background-color: #528d4e;
}
#almost{
  background-color: #b49f39;
}
#error{
  background-color:#3a393c;
}
#disabled{
  background-color: #3a393c;
}

@media (max-width: 770px) {
  .textField {
    width: 250px;
  }

  .login-heading {
    margin-bottom: 80px;
  }
  .otp-button {
    width: 150px;
  }
}

